{% extends 'base.html.twig' %}
{% block content %}
	
    <section class="content-header">
      <h1>
        Alunos cadastrados
        {# <small>preview of simple tables</small> #}
      </h1>
      {# <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Tables</a></li>
        <li class="active">Simple</li>
      </ol> #}
    </section>

    <section class="content">
        <div class="box-body">
            <div class="media-body">
                    <div class="clearfix">
                        <p class="pull-left">
                            <a href="{{ path('create_user_form_learner') }}" class="btn btn-success btn-sm">
                                Cadastrar aluno
                            </a>
                        </p>
                </div>
            </div>
        </div>

        <div class="box box-primary">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Alunos cadastrados</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                <div class="row">
                    <div class="col-sm-12">
                        <table role="grid" class="table table-bordered table-striped dataTable" id="dtable">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Nome</th>
                                    <th>E-mail</th>
                                    <th>Ativo</th>
                                    <th>Ações</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for user in users %}
                                    <tr>
                                        <td>{{ user.id }}</td>
                                        <td>{{ user.name }}</td>
                                        <td>{{ user.email }}</td>
                                        <td>
                                            {% if user.active %}
                                                <div style="width:20px; height:20px; border-radius:50%; background:green;"></div>
                                            {% else %}
                                                <div style="width:20px; height:20px; border-radius:50%; background:red;"></div>
                                            {% endif %}
                                        </td>
                                        <td>
                                            <a style="margin-right:5px" href="{{ path('detail_user', {'id': user.id}) }}" class="btn-sm btn-primary">
                                                <i class="fa fa-eye fa-lg"></i>
                                            </a>
                                            {# <a style="margin-right:5px" href="{{ path('edit_user_form', {'id': user.id}) }}" class="btn-sm btn-info">
                                                <i class="fa fa-edit fa-lg"></i>
                                            </a> #}
                                            <a style="margin-right:5px" onclick="return confirm('Você tem certeza?')" href="{{ path('delete_user', {'id': user.id}) }}" class="btn-sm btn-danger">
                                                <i class="fa fa-trash-o fa-lg"></i>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>    
    </div>
</div>

{% endblock %}



